<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZG3tFuQfmfZKwh96fPyjT0QZVuDDBvc0</string>
	<key>GCM_SENDER_ID</key>
	<string>660974960940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ninetyeight.service.fanos</string>
	<key>PROJECT_ID</key>
	<string>fanos-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>fanos-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660974960940:ios:5761b7f143d3018e83ac89</string>
</dict>
</plist>